.imgLogo img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 20px;
    box-shadow: 0 0 20px orange;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, black, black, orange);
    height: 110px;
}

.cart, .logout {
    border: none;
    background-color: orange;
    border-radius: 10px;
    width: 35px;
    height: 30px;
    padding: 0;
    margin: 10px;
    transition: 0.5s;
}

.cart:hover, .logout:hover {
    border-radius: 50%;
    box-shadow: 0 0 10px orange;
}

.btns {
    display: flex;
}

.create {
    margin: 20px;
    border: 1px solid orange;
    border-radius: 8px;
    background-color: black;
    color: orange;
    padding: 5px;
    transition: 0.5s;
}

.create:hover {
    background-color: orange;
    color: black;
}

body {
    background: url(../imgs/sneakers.jpg) no-repeat center center fixed;
    background-size: cover;
}

.saudacao {
    text-align: center;
    background-color: orange;
    color: black;
}

.cont, .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.eachCard {
    flex-grow: 1;
    flex-basis: 200;
}

.card {
    max-height: 400px;
    width: fit-content;
    max-width: 250px;

    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    width: 300px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    height: fit-content;
}

.btns button img {
    height: 20px;
    width: 30px;
}

.btns button {
    border: none;
    background-color: transparent;
    margin: 5px;
}

.iconCart {
    width: 60px;
    height: 25px;
}

.desc {
    margin: 0;
}

.product {
    padding: 2rem;
    backdrop-filter: blur(15px);
    width: fit-content;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
}

.container {
    text-align: center;
    align-self: center;
    height: 100vh;
}

.tags {
    margin: 5px;
    color: orange;
}

.tags {
    text-align: left;
}

.snkar{
    position: absolute;
    width: 120px;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 0 20px white;
}

.divlogo {
    display: flex;
    justify-content: center;
    margin: 10px;
    height: fit-content;
}

.back {
    position: absolute;
    margin: 20px;
}