body {
    background: url(../imgs/sneakers.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 0 0 480px 190px;
    box-shadow: 0 0 20px orange;
}

.form {
    background: rgb(7, 7, 7);
    border-radius: 10px;
    box-shadow: 0 0 20px orange;
    padding: 2rem;
    margin: 100px;
    width: 500px;
}

strong, span, h1, p {
    color: orange;
}

