<!DOCTYPE html>
<html lang="en" ng-app="online-store-app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneaker</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/login.css">
</head>
<body ng-controller="loginController">
    <div class="container">
        <img src="./imgs/SNK AIR.png" alt="logo">
        <form ng-submit="handleSubmit()">
            <h1>Login</h1>
            <label class="w-100 mt-3">
                <strong>Email:</strong>
                <input type="email" ng-model="email" placeholder="Digite seu email" class="form-control mt-1" ng-required="true">
            </label>
            <label class="w-100 mt-3">
                <strong>Senha:</strong>
                <input type="password" placeholder="Digite sua senha" ng-model="password" class="form-control mt-1" ng-required="true" ng-minlength="6">
            </label>
            <span>Não possui uma conta ? <a href="./register.html">Cadastrar</a></span>
            <button class="btn btn-warning w-100">{{ loading ? 'Carregando...' : 'Entrar' }}</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="./js/login.js"></script>
</body>
</html>